<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="allTests">

    <test name="test_01">
        <classes>
            <!--<class name="tests.TestBase"/>-->
            <!--<class name="tests.TestOnliner"/>-->
            <!--<class name="tests.TestFilesFm"/>-->
            <class name="tests.TestGoogleDriveAPI"/>
            <class name="tests.TestFtp"/>
        </classes>
    </test>
</suite>

